.hello__text--section {
    margin-bottom: 193px;
}

.hello__text--section {
    width: 637px;
}

.hello__title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 18px;
}

.hello__text {
    font-size: 21px;
    margin-bottom: 75px;
}