*{
    box-sizing: border-box;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

input{
    outline: none;
}

p{
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

*{
   box-sizing: border-box; 
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

html, body{
    margin: 0;
    height: 100%;
    width: 100%;
}

body{
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.42;
    background: #17191C;
    -webkit-font-smiithing: antialiased;
    -moz-osx-font-smoothink: grayscale;
}

.wrapper {
    overflow: hidden;
    min-width: 1170px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper__content {
    flex: 1;
}

.main-page-wrapper {
    position: relative;
    /* background:  url(img/back1.png) center top no-repeat, url(img/back2.png) center bottom 200px no-repeat; */
}

.main-page-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    background: url(../../img/back1.png) center center / cover no-repeat;
    filter: grayscale(1);
    z-index: -1;
}

.main-page-wrapper::after {
    content: '';
    position: absolute;
    bottom: 150px;
    left: 0;
    width: 100%;
    height: 1018px;
    background: url(../..//img/back2.png) center center / cover no-repeat;
    filter: grayscale(1);
    z-index: -1;
}

.container{
    margin: 0 auto;
    width: 1144px;
    position: relative;
}

.container--footer {
    border-top: 1px solid rgba(255,255,255,0.1);
}