button{
    outline: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.button {
    background: #8F00FF;
    border-radius: 4px;
    padding: 18px 40px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
}

.button:hover {
    background: #741BBA;
    box-shadow: 0px 2px 4px
     rgba(218, 1, 0, 0.3);
}

.button--light {
    background: #FFFFFF;
    color: #8F00FF;
    border: 1px solid #8F00FF;
    padding: 17px 29px;
}

.button--light:hover {
    background: #8F00FF;
    color: #FFFFFF;
}

.button--about {
    background: transparent;
    border-radius: 5px;
    border: 1px solid #fff;
}

.button--game {
    background: #F2F2F2;
    color: #8F00FF;
    border: 1px solid #8F00FF;
    margin-bottom: 15px;
}

.button--game:hover {
    background: #8F00FF;
    color: #F2F2F2;
}