.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    line-height: 39px;
}

.contacts__inf {
    position: relative;
    top: -6px;
    font-size: 13px;
    line-height: 16px;
    text-decoration: underline;
    color: #FFFFFF;
}

.contacts--footer {
    font-style: normal;
    text-align: right;
}

.contacts__inf--footer {
    font-size: 11px;
    color: #9A9A9A;
    text-decoration: none;
    top: 2px;
}