.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  display: flex;
  align-items: flex-end;
}

.container--footer {
  display: flex; 
  justify-content: space-between;
  padding-top: 46px;
}

.footer-container__section {
  height: 146px;
}

.footer__col--inner {
  display: flex;
  align-items: center;
}