.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}
