.reviews__page-title {
    margin-bottom: 126px;
}

.reviews{
    margin-bottom: 85px;
}
.reviewspage-content {
    background: #ffffff;
    color: #818181;
}

.reviews__list {
    column-count: 2;
    margin-bottom: 44px;
    margin-top: 104px;
}

.reviews__item{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background: #F4F5F5;
    width: 544px;
    min-height: 542px;
    border-radius: 5px;
    margin-right: 27px;
    padding: 50px 28px;
    margin-bottom: 17px;
}

.reviews__userphoto {
    width: 142px;
    height: 142px;
    margin-right: 22px;
}

.reviews__item-head {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}

.reviews__user {
    display: flex;
    color: #1A1B1E;
    font-size: 24px;
    line-height: 42px;
    font-weight: bold;
    align-items: center;
    
}

.reviews__user:hover{
    text-decoration: underline;
    color: #2E77A4;
}

.reviews__user::after {
    content: url("../../img/reviews/vk-blue\ 1.png");
    align-items: center;
    margin-left: 9px;
}

.reviews__game {
    display: inline-flex;
    font-size: 13px;
    line-height: 17px;
    padding: 10px 20px;
    border-radius: 35px;
    background: #B9EAE4;
    color: #303030;
    margin-bottom: 4px;
    margin-right: 4px;
}

.reviews__title {
    font-size: 30px;
    line-height: 42px;
    font-weight: bold;
    color: #1A1B1E;
    margin-bottom: 13px;
}

.reviews__desc {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 16px;
    line-height: 27px;
     
}

.reviews__desc-text{
    display: flex;
    margin-bottom: 19px;
}


.reviews__date {
    color: #1A1B1E;
    font-size: 14px;
    line-height: 27px;
    font-weight: bold;
}