.socialnetworks__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socialnetworks__items {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socialnetworks__items:last-child {
    margin-right: 0;
}

.socialnetworks {
    position: absolute;
    top: 49px;
    right: 258px;
}

.socialnetworks__items--tg .socialnetworks__link {
    background-image: url(../../img/socialnetworks/tg.png);
}

.socialnetworks__items--tg .socialnetworks__link:hover {
    background-image: url(../../img/socialnetworks/tg-1.png);
}

.socialnetworks__items--vk .socialnetworks__link {
   background-image: url(../../img/socialnetworks/vk.png);
}

.socialnetworks__items--vk .socialnetworks__link:hover {
   background-image: url(../../img/socialnetworks/vk-1.png);
}
.socialnetworks__items--fb .socialnetworks__link {
   background-image: url(../../img/socialnetworks/fb.png);
}

.socialnetworks__items--fb .socialnetworks__link:hover {
   background-image: url(../../img/socialnetworks/fb-1.png);
}
.socialnetworks__items--in .socialnetworks__link {
   background-image: url(../../img/socialnetworks/in.png);
}

.socialnetworks__items--in .socialnetworks__link:hover {
   background-image: url(../../img/socialnetworks/in-1.png);
}